<div class="blog"><center>
  <h2>Blog</h2>
  <h3>Interesting articles about xR:</h3>

  <a href="https://www.vrfocus.com/2020/01/antilatencys-sdk-v-1-0-adds-full-body-tracking-for-oculus-quest/" target="_blank" style="font-size: 25px;">Antilatency’s SDK V.1.0 Adds Full-Body Tracking For Oculus Quest</a><br /><br />
  <a href="https://vrscout.com/news/mixed-reality-apartment-oculus-quest/" target="_blank" style="font-size: 25px;">This Oculus Quest Mixed Reality Apartment Is Straight Out Of Minority Report</a><br /><br />
  <a href="https://www.roadtovr.com/mojo-vision-smart-ar-contacts-lens/" target="_blank" style="font-size: 25px;">Mojo is Making Contacts Smarter with Its Incredibly Tiny Microdisplay</a><br /><br />
  <a href="https://filmmakermagazine.com/103819-making-vr-that-matters-johns-hopkins-new-immersive-storytelling-and-emerging-technologies-program/#.Xiko41NKjRY" target="_blank" style="font-size: 25px;">Johns Hopkins' New Immersive Storytelling and Emerging Technologies Program</a><br /><br />
  <a href="https://vrscout.com/news/john-hopkins-vr-ar-university-curriculum/" target="_blank" style="font-size: 25px;">Johns Hopkins Adds VR & AR To University Curriculum</a><br /><br />

</center>
</div>
