<div class="user-details">
  <h1><u><b>My Projects</b></u></h1>
</div>

<div class="user-projects">
  <center><h2>Oculus Quest Handtracking</h2></center>
  <div class="user" align="center">
      <div class="tech" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SA_yXWCVxbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="tech">
        <i class="fab fa-unity" style="font-size:56px"></i><span class="tab"></span>
        <i class="fas fa-vr-cardboard" style="font-size:56px"></i>
        <i class="fas fa-hand-paper" style="font-size:56px"></i>
          <p><font size="5">This is some text!</font><p>
      </div>
  </div>


<center><h2>Senior Design Project: UofSCTourAR</h2></center>
<div class="user" align="center">
    <div class="tech" align="center">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/SA_yXWCVxbQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="tech">
      <i class="fab fa-unity"></i>
      <i class="fab fa-apple"></i>
      <i class="fas fa-map-marked-alt"></i>
      <p><font size="5">This is some text!</font><p>
    </div>
</div>
