<!DOCTYPE html>
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"> -->
<script src="https://kit.fontawesome.com/eecc2bfc5b.js" crossorigin="anonymous"></script>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <br/ ><br/ ><br/ ><hr>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
